/* Combinador de hermanos adyacentes*/

  li:first-of-type + li {
    font-style: italic;
    color: orange;
}

 /* Combinador general de hermanos*/

    p ~ span {
      font-style: italic;
      color: orange;
}

   /* Combinador de hijo*/
   .lotr > li {
    color: orange;
    font-weight: bold;
}
    .hob > li {
     color: goldenrod;
        
}


/*Combinador de descendientes */

.two-towers span {
  color: crimson;
  font-weight: bold;

}