/* UNIDADES DE MEDIDAS RELATIVAS*/
/* Son mucho más habituales en una web que las unidades absolutas. La principal diferencia es que las
relativas, como su nombre indica, dependerán de algún otro factor a la hora de mostrar medidas. Estos
factores pueden ser la resolución, tamaño de letra... en definitiva son más usados debido a su
versatilidad.*/

.box {
    width: 100px;
    height: 100px;
}

.container > section {
background-color: crimson;
height: 100%;
width: 50%;

}
article {
    height: 20vh;
    background-color:cadetblue ;
}