


body {
  font-weight: var(--typeBaseWeight);
  background-color: black;
  margin: 0;
  padding: 0;
}
  
.contenedor {
  width: 100%;
  text-align: right;
}

.caja-redes-sociales {
  background-color:white;
  padding: 10px;
  display: inline-block;
}

.redes-sociales {
  list-style: none;
  padding: 0;
  margin: 0;
}

.redes-sociales li {
  display: inline-block;
  margin-right: 10px;
}

.redes-sociales img {
  width: 30px;
  height: 30
}

.menu {
  background-color: black;
  padding: 10px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  display: inline-block;
  margin-right: 10px;
}

.menu li a {
  color: #ffffff;
  text-decoration: none;
  padding: 5px;
}

.menu li a:hover {
  background-color: black;
}

.caja-menu {
  max-width: 960px;
  margin: 0 auto;
}

:root {
  --typeHeaderPrimary: Helvetica;
  --typeHeaderFallback: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  --typeHeaderSize: 38px;
  --typeHeaderWeight: 700;
  --typeHeaderLineHeight: 1;
  --typeHeaderSpacing: 0.0em;
  --typeBasePrimary: Helvetica;
  --typeBaseFallback: 'Helvetica Neue', Arial, 'Lucida Grande', sans-serif;
  --typeBaseSize: 16px;
  --typeBaseWeight: 400;
  --typeBaseSpacing: 0.025em;
  --typeBaseLineHeight: 1.6;
  --typeCollectionTitle: 18px;
  --iconWeight: 2px;
  --iconLinecaps: miter;
  --buttonRadius: 0px;
  --colorGridOverlayOpacity: 0.1;
}
:root {
  --colorBtnPrimary: #111111;
  --colorBtnPrimaryLight: #2b2b2b;
  --colorBtnPrimaryDim: #040404;
  --colorBtnPrimaryText: #ffffff;
  --colorCartDot: #ff4f33;
  --colorLink: #ffffff;
  --colorTextBody: #ffffff;
  --colorPrice: #c4c4c4;
  --colorTextSavings: #C20000;
  --colorSaleTag: #1c1d1d;
  --colorSaleTagText: #ffffff;
  --colorBody: #131313;
  --colorBodyDim: #060606;
  --colorFooter: #131313;
  --colorFooterText: #ffffff;
  --colorBorder: #e8e8e1;
  --colorNav: #131313;
  --colorNavText: #ffffff;
  --colorAnnouncement: #0f0f0f;
  --colorAnnouncementText: #ffffff;
  --colorHeroText: #ffffff;
  --colorModalBg: #e6e6e6;
  --colorImageOverlay: #000000;
  --colorImageOverlayOpacity: 0.1;
  --colorImageOverlayTextShadow: 0.2;
  --colorSmallImageBg: rgba(0,0,0,0);
  --colorLargeImageBg: #0f0f0f;
  --colorGridOverlay: rgba(0,0,0,0);
  --colorGridOverlayOpacity: 0.1;
  --colorDrawers: #131313;
  --colorDrawersDim: #060606;
  --colorDrawerBorder: #e8e8e1;
  --colorDrawerText: #ffffff;
  --colorDrawerTextDark: #d9d9d9;
  --colorDrawerButton: #111111;
  --colorDrawerButtonText: #ffffff;
}
.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
}

.grid img {
  width: 100%;
  height: auto;
}







  
  
