p {
    font-family: Arial, Helvética, sans-serif;
    font-size: 20px;
    font-weight: 60px;
    font-style: normal;

}

@font-face {
    font-family:"Star Wars" ;
    src: url(./assents/fonts/);
}


