
:root {
    --primary: #141414;
    --secondary:var(--secondary)
}

body {
    background-color:var  ;
    color: var(--secondary);
}

header {
    height: 100vh;
    background-image: url(  );


}
nav{
    height: 10vh;
    display: ;
}

section {
    padding: 20px;
}

section >h2 {

}

section > ul {
        margin-top: 10px;
        display:flex;
        gap :20px;
        overflow: auto;

}
::-webkit-scrollbar


::-webkit-scrollbar-thumb {
    background-color: var;
    (--)
}
