*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}


.box {
    width: 200px;
    height: 200px;
    background-color: cadetblue;
}

/* Contenedor- elemento hijo , maquetado sin display flex*/
.hijo{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    color: whitesmoke;
    margin: 10px;
    }
/*propiedad display:flex- Establece cu치l es el eje principal y cu치l es el secundario*/
/* adem치s establece la direcci칩n del eje principal */

.container {
    display: flex;
  }
   
    /* los valores disponibles son:
    row - que establece el eje principal en horizontal.
    row-reverse -  que establece el eje principal en horizontal INVERTIDO que
    colocar치 los items contenedores en el orden inverso.
    column-  que establece el eje principal en vertical.
    column-reverse-  que hace del eje principal el vertical INVERTIDO, */
    /*es decir colocar치 los items contenedores en el orden inverso.*/

    .container {
        display: flex;
      }
      
      .hijo {
        width: 100px;
        height: 100px;
        background-color: blueviolet;
        color: whitesmoke;
        margin: 10px;
      }
/*propiedad flex-direction disponible pero... 쯖칩mo funciona? esta
propiedad establecer치 la direcci칩n del eje principal, y sus valores disponibles son:
row, que establece el eje principal en horizontal.

湊닒 Display: Flex CSS

游꿛 4

row-reverse, que establece el eje principal en horizontal INVERTIDO, es decir,
colocar치 los items contenedores en el orden inverso.
column, que establece el eje principal en vertical.
column-reverse, que hace del eje principal el vertical INVERTIDO, es decir,
colocar치 los items contenedores en el orden inverso.

    }
/* propiedad flex-flow*/

    .container{
        flex-flow: column nowrap;
        }
        
        
        .container{
        flex-direction: column;
        flex-wrap: nowrap;
        }

        /*propiedad row/column-gap*/
        /*row-gap: establece espacio entre filas, y solo funcionar치
          si tenemos flex-direction en column.
          column-gap: espacio entre columnas, y solo funcionar치 con el 
          flex-direction en row.*/
          .container {
            gap: 4px 8px;
            /* Equivalente a */
            row-gap: 4px;
            column-gap: 8px;
            }
            
            .container{
            gap: 4px;
            /* Equivalente a */
            row-gap: 4px;
            column-gap: 4px;
            }