nav {
    height: 10vh;
    display: flex;
<<<<<<< HEAD
    justify-content: space-between;
    align-items: center;
=======
    justify-content:space-between;
    align-items: flex-start;
>>>>>>> e912bde741248ddf046c18e5f5da3dc5f740e08f
    padding: 0 8rem;
    flex-wrap: wrap;
    }
    @media (max-width: 770px) {
    nav {
    padding: 0 2rem;
    }
    }
    nav > ul {
    display: flex;
    gap: 3rem;
<<<<<<< HEAD
=======

>>>>>>> e912bde741248ddf046c18e5f5da3dc5f740e08f
    }
    nav button {
    background: none;
    border: none;
    color: inherit;
    transform: scale(1.5);
    }
    nav a {
    transition: all 0.3s ease-in-out;
    }
    nav a:hover {
    color: var(--highlight);
    }
<<<<<<< HEAD
    
=======
     
h1 {
    margin-top: 5px; 
    margin-left: -20px;
    font-size: 102px;
    letter-spacing: 4px;
    color:#9845e8;
    font-family: "Roboto", sans-serif;
    writing-mode: vertical-lr;
    text-align: center;
    display:flex;
    justify-content: center;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    

    }


@media (max-width: 768px) {
    h1 {
      font-size: 72px;
    }
  }

  
>>>>>>> e912bde741248ddf046c18e5f5da3dc5f740e08f
